body{
    background: #1b1b1b;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 45px;
    font-weight: 600;
    color: #fbfbfb;
    margin-left: 5vw;
}
h2{
    font-weight: 300;
    color: #fbfbfb;
    margin-left: 5vw;
}
.sm-title{
    margin-top: 100px;
    font-weight: 100;
    color: #fbfbfb;
    margin-left: 5vw;
    margin-bottom: 6px;
}
.b-link{
    margin-left: 8vw;
    margin-top: 6px;
}
.b-link span{
    margin-left: 12px;
    color: #cfcfcf;
}
a{
    text-decoration:none;
    color: #8bf6ff;
}
#addbooks{
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: #fbfbfb;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    border-radius: 42px;
}
#addbooks:hover {
    background-color: #cfcfcf;
}
.fa-3 {
    font-size: 5em;
}