<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
</head>
<body>
    <h1>Recent</h1>
    <li>
        {% for book in books %}
        <li><a href="{{ book.path }}">{{ book.path }}</a></li>
        {% endfor %}
    </li>
</body>
</html>