<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookmark</title>
    <link rel="stylesheet" href="./css/Roboto-Light.ttf">
</head>
<body>
    <h1>Bookmark</h1>
    <h2>Just where you left off.</h2>
    <li>
    {% if books %}
        {% for book in books %}
        <li><a href="{{ book.path }}">{{ book.path }}</a></li>
        {% endfor %}
    {% endif %}
    </li>
    <link rel="stylesheet" href="./css/page.css">
</body>
</html>